<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% include 'header.html' %}
    <form action="/app/login/" method="post">
        {% csrf_token %}
        Email : <input type="text" name="email" ><br><br>
        Pasword : <input type="text" name = "password"><br><br>
        <input type="submit" value="Login">
        <a href="/app/signup_form">Create A New Account</a>
    </form>
</body>
</html>