<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        body { font-family: Arial }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div>User name: {{ user.username }}</div>
    <div>First name: {{ user.first_name }}</div>
    <div>Last name: {{ user.last_name }}</div>
    <div>Shipping address: {{ location }}</div>
    
    <form action="/app/logout/" method="post">
        {% csrf_token %}
        <input type="submit" value="Log out">
    </form>
</body>
</html>